<launch>
  <group name='bax'>
     <node pkg="baxter_lcm" name ="repeater" type = "LCMToRos.py" output="screen"/>
     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="head" />
     </node>
     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="right" />
     </node>
     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="right_gripper" />
     </node>
     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="right_range" />
     </node>


     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="left" />
     </node>
     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="left_gripper" />
     </node>
     <node pkg="baxter_lcm" name ="listener" type = "BaxterInterface.py" output="screen">
        <param name="part" value="left_range" />
     </node>
  </group>
</launch>
